<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <title>Export as CSV</title>
    </head>
    <body>
        <div class="container">
            <h1 class="text-center text-primary mt-3 mb-3">EXPORT CSV</h1>
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-10"></div>
                        <div class="col-md-2">
                            <a href="/export" class="btn btn-success btn-sm float-end">Download</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                        
                    <table class="table table-bordered">
                        <tr>
                            <th>Sensors</th>
                            <th>Location</th>
                            <th>Temperature</th>
                            <th>Humidity</th>
                            <th>Soil Moisture %</th>
                            <th>Reading_Time</th>
                        </tr>
                        <% sensordata.forEach(function(data){ %>
                        <tr>
                            <td><%= data.SENSORS %></td>
                            <td><%= data.LOCATION %></td>
                            <td><%= data.TEMPERATURE %></td>
                            <td><%= data.HUMIDITY %></td>
                            <td><%= data.SOIL_MOISTURE %></td>
                            <td><%= data.READING_TIME %></td>
                        </tr>
                        <% }); %>
                    </table>

                </div>
            </div>
        </div>
  </body>
</html>
